@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .image-hover {
    @apply cursor-pointer;
    transition: transform 0.3s ease;
  }
  .image-hover:hover {
    @apply scale-90;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .item {
    @apply text-sm px-5 transition-all cursor-pointer;
    color: gray;
  }
  .mx-sm-rightButtons {
    @apply flex max-sm:flex-1 max-sm:justify-end;
  }
  .common-padding {
    @apply sm:pt-20 sm:pb-10 py-10 sm:px-10 px-5;
  }
  .section-heading {
    @apply text-black lg:text-5xl md:text-4xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20;
  }
  .link {
    @apply text-black hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20;
  }
  .btn {
    @apply bg-black px-5 py-1 my-5 rounded-xl hover:bg-transparent border
    border-transparent hover:border hover:text-black hover:border-black;
  }
  .btnVolume {
    @apply bg-black w-7 h-7 rounded-xl hover:bg-transparent border
    border-transparent hover:border hover:text-black hover:border-black
    flex flex-center items-center transition-all mb-2 ml-5;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #social {
    @apply mr-5 mb-2;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .socialButton {
    @apply flex flex-center items-center w-7 h-7 bg-white rounded-full transition-all;
  }
  .socialButton:hover {
    @apply bg-gray-200;
  }
  .inputSearch {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    color: black;
  }
  .inputSearch.active {
    position: relative;
    opacity: 1;
    transition: 0.3s;
    border-radius: 4px;
  }
  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[73vh] sm:h-[60vh] h-[60vh];
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.6);
    border-radius: 24px;
  }
  .control-btn {
    @apply ml-4 p-4 rounded-full bg-black backdrop-blur flex-center;
  }
  .container-task {
    opacity: 0.5;
  }
  .text-border {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    opacity: 0;
  }
  .text-padding {
    @apply sm:pl-2 sm:pb-1 pl-1 pb-1;
  }
  .hero-title {
    @apply text-center font-semibold text-6xl text-white opacity-0 pt-10 translate-y-20 pointer-events-none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-shadow: 5px 15px 15px rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 760px) {
    .hero-title {
      @apply text-5xl;
    }
  }
  .videoSrc_container {
    box-shadow: 0px 10px 35px rgba(255, 255, 255, 0.3);
    border-radius: 24px;
  }
  @media (max-width: 1200px) {
    .video-carousel_container {
      width: 80vw;
      height: 43vw;
    }
    .section-heading {
      @apply text-4xl;
    }
  }
  @media (min-width: 1200px) {
    .video-carousel_container {
      width: 75vw;
      height: 42vw;
    }
  }
  @media (max-width: 650px) {
    #country-text {
      opacity: 0;
    }
  }
  @media (min-width: 430px) and (max-width: 635px) {
    .section-heading {
      @apply text-3xl;
    }
  }
  @media (min-width: 300px) and (max-width: 430px) {
    .section-heading {
      font-size: 19px;
    }
    .link {
      font-size: 10px;
    }
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
  }
  .main-content {
    margin-top: 60px; /* Navbar yüksekliğine bağlı olarak ayarlayın */
  }
}
